.app-header {
  background-color: #ffffff;
  color: var(--secondary-clr3);
  padding: 0.7em;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  box-shadow: 0px 2px 10px 0px;
}

.menu-icon {
  padding: 15px;
}

.menu-icon>* {
  width: 18px;
  height: 2px;
  background-color: rgba(98, 91, 91, 0.718);
  margin: 3px 0;
}



.place-for-icon {
  width: 150px;
  flex-grow: 1;
}


.login-user {
  min-width: 48px;
  min-height: 48px;
  padding: 4px;
}

.menu-modal {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  transform: translate(-70%, 0%);
  border-radius: 10px;
  box-shadow: 0 0 5px 0px;
  padding: 15px;
  z-index: 30;

}

.menu-modal>* {
  text-decoration: none;
  margin-inline-start: 15px;
}

/* .menu-modal>:nth-child(3n) {
  margin-inline-start: 0px;
} */

.search-icon,
.candy-box-menu {
  height: 40px;
  margin: 10px;
  padding: 10px;
  opacity: 0.65;
}



.search-icon {
  position: relative;
  transform: translate(0, 0);
}

.logo {
  margin-top: 15px;
  flex-grow: 2;
}

.input-search {
  font-size: 1.2rem;
  padding-inline-start: 50px;
  border-radius: 8px;
  border: 0;
  background: #eef2fa;
  position: absolute;
  right: 40%;
  transform: translate(50%, 180%);
  z-index: 10;
  max-width: 70vw;
  height: 48px;

}

@media(min-width: 875px) {
  .input-search {

    flex-grow: 1;
    position: inherit;
    right: 0;
    transform: translate(0%, 0%);
    z-index: 0;
  }


  .search-icon {
    position: absolute;

    transform: translate(680%, -30%);
    transition: 0.4s;
  }

  .logo {
    margin-top: 15px;
    width: 232px
  }
}