iframe {
    width: 100%;
    height: 35%;
}

.notes-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notes-container {
    margin-top: 40px;
    width: 90vw;
    columns: auto 90vw;
    height: fit-content;
    transition: 0.6s;

}

@media screen and (min-width: 340px) {
    .notes-container {
        width: 95vw;
        columns: auto 45vw;
    }
}

@media screen and (min-width: 480px) {
    .notes-container {
        columns: auto 14em;
        width: 480px
    }
}

@media screen and (min-width: 540px) {
    .notes-container {
        width: 500px
    }

}

@media screen and (min-width: 800px) {
    .notes-container {
        width: 750px
    }
}

@media screen and (min-width: 1040px) {
    .notes-container {
        width: 1020px
    }
}

@media screen and (min-width: 1280px) {
    .notes-container {
        width: 1100px
    }
}

@media screen and (min-width: 1550px) {
    .notes-container {
        width: 1550px
    }
}