.note-details {
    background-color: rgb(208, 239, 229);
    width: 350px;
    border-radius: 10px;
    padding: 15px;
    z-index: 10;
    box-shadow: -2px -1px 16px 2000px rgba(48, 45, 45, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
}