hr {
    color: rgb(255, 255, 255);
}

iframe {
    width: 100%;
    height: 50px;
}

.note-preview {
    background-color: rgba(255, 228, 196, 0);
    width: 85vw;
    border-radius: 8px;
    border: rgba(164, 159, 159, 0.523) 1px solid;
    padding: 10px;
    margin-top: 15px;
    break-inside: avoid-column;
    transition: 0.3s;


}

.note-preview:hover {
    box-shadow: -1px 0px 5px 0px;
}

.note-details {
    background-color: rgb(208, 239, 229);
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
    z-index: 10;
    box-shadow: -2px -1px 16px 2000px rgba(48, 45, 45, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note-add {
    background-color: rgba(255, 255, 255, 1);
    width: 80vw;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
    z-index: 10;
    box-shadow: 0 0 12px 0px;


}



.todo {
    cursor: pointer;
}

.imp {
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

.dots {
    font-size: 1rem;
    margin-left: 20px;
    cursor: pointer;
}

.imp input {
    opacity: 0;
    cursor: pointer;

}

.color-input {
    position: absolute;
    z-index: 10;
}

.clean-input {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    margin-bottom: 15px;
}


.notes-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes-container {
    margin-top: 0;
    width: 90vw;
    columns: auto 90vw;
    /* columns: auto 14.5em; */
    height: fit-content;
    transition: 0.6s;

}

.clean-input:focus {
    border: 0;

}

.hide {
    display: none;
}

.new-note-link {
    margin: 20px;
    font-size: 1.2rem;
    height: 46px;
    width: 80vw;
    border: 1px solid rgba(128, 128, 128, 0.391);
    border-radius: 8px;
    box-shadow: 0 0 7px 0px;
    padding: 10px;

}

.title {
    text-transform: uppercase;
}

.note-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.note-filter>* {}

.type-filter {
    margin-inline-start: 30px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 7px 0px;
}

.search {
    border-radius: 8px;
    border: 0;
    box-shadow: 0 0 7px 0px;
}


.btn {
    border: 0;
    background-color: rgba(240, 248, 255, 0);
}

@media screen and (min-width: 340px) {
    .note-preview {

        width: 40vw;
    }

    .notes-container {
        width: 95vw;
        columns: auto 45vw;
    }

    .note-add {
        width: 320px
    }



}

@media screen and (min-width: 480px) {
    .note-preview {

        width: 238px;
    }

    .notes-container {
        columns: auto 14em;
        width: 480px
    }

    .note-add {
        width: 460px
    }



}


@media screen and (min-width: 540px) {
    .note-preview {

        width: 238px;
    }

    .notes-container {
        width: 500px
    }

    .note-add {
        width: 500px
    }



}

@media screen and (min-width: 800px) {

    .notes-container {
        width: 750px
    }

    .new-note-link {
        width: 600px
    }
}

@media screen and (min-width: 1040px) {

    .notes-container {
        width: 1020px
    }

}

@media screen and (min-width: 1280px) {

    .notes-container {
        width: 1100px
    }

}

@media screen and (min-width: 1550px) {

    .notes-container {
        width: 1550px
    }

}