.note-preview {
    background-color: rgba(255, 228, 196, 0);
    min-width: 238px;
    max-width: 238px;
    border-radius: 5px;
    border: black 1px solid;
    padding: 10px;
    margin-top: 15px;
    break-inside: avoid-column
}

.note-details {
    background-color: rgb(208, 239, 229);
    width: 350px;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
    z-index: 10;
    box-shadow: -2px -1px 16px 2000px rgba(48, 45, 45, 0.45);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clean-input {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    background-color: rgba(240, 248, 255, 0);
    border: 0
}

.notes-container {
    margin-top: 0;
    columns: auto 15em;
    height: fit-content;
    /* min-height: 1000px; */

}

.clean-input:focus {
    border: 0
}

.btn {
    border: 0;
    background-color: rgba(240, 248, 255, 0);
}