/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* General Components */
@import 'cmps/home-page.css';
@import 'cmps/app-header.css';
@import 'cmps/app-footer.css';
@import 'cmps/user-msg.css';
@import 'cmps/about-page.css';

/* Apps */

/* mail app */
@import 'apps/mail/mail-app.css';
@import 'apps/mail/mail-list.css';
@import 'apps/mail/long-text.cmp.css';
@import 'apps/mail/new-mail.cmp.css';
@import 'apps/mail/mail-filter.cmp.css';
@import'apps/mail/mail-menu.cmp.css';
@import'apps/mail/mail-header.cmp.css';

/* notes app */
@import 'apps/note/note-app.css';
@import 'apps/note/note-preview.css';
@import 'apps/note/note-details.css';
@import 'apps/note/note-add.css';
@import 'apps/note/note-modals.css';
@import 'apps/note/note-btns-inp-icon.css';
@import 'apps/note/note-layout-container.css';



/* book app */
@import 'apps/book/base.css';
@import 'apps/book/cmps/book-list.css';
@import 'apps/book/cmps/book-details.css';
@import 'apps/book/cmps/book-preview.css';
@import 'apps/book/cmps/book-add-review.css';
@import 'apps/book/cmps/book-filter.css';