
/* MAIL HEADER */

.mail-candy-box-menu {
    height: 40px;
    margin: 15px;
    padding: 10px;
    opacity: 0.65;
    cursor: pointer;
}

.login-user{
    height: 40px;
    margin: 15px;
    /* padding: 10px; */
}