
/* MAIL FILTER */

.searce-filter{
    border-radius: 8px;
    width: 80%;
    background-color: #eaf1fb;
    padding: 20px;
    padding-left: 5px;
    margin-top: 10px;
    border: 0;
}

.sorting-section{
    margin-top: 25px;
}

.sort-opt-btn{
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid var(--clr3);
}