
/* MAIL MENU */

.btn-humburger{
    font-size: 1.5rem;
    background: fixed;
    width: fit-content;
    margin-bottom: 15px;
    border: 2px solid var(--clr3);
    border-radius: 5px;
}

.nav-menu{
    font-size: 1.2rem;
    gap: 15px;
}

.menu-items{
    flex-direction: column;
    gap: 12px;
}

.compose-btn{
    border: 0;
    width: max-content;
    border-radius: 12px;
    background-color: #c2e7ff;
    font-size: 1rem;
    padding: 10px;
    transition: .4s;
}
.compose-btn:hover{
    box-shadow: 0px 0px 2px 2px var(--clr3);
    background-color: #8dd1ff;
}