
/* MAIL MENU */

.btn-humburger{
    font-size: 2rem;
    font-weight: 400;
    background: fixed;
    width: fit-content;
    border: 0;
    border-radius: 5px;
}

.menu-btn-txt{
    margin-left: 5px;
}

.menu-btn-counter{
    margin-left: 15px;
}

.menu-img{
    width: 25px;
}

.nav-menu{
    margin-top: 10px;
    font-size: 1rem;
    gap: 15px;
}

.menu-items{
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.compose-btn{
    border: 0;
    width: max-content;
    border-radius: 12px;
    background-color: #c2e7ff;
    font-size: 1rem;
    padding: 10px;
    transition: .4s;
}

.menu-btn{
    width: max-content;
    padding: 5px;
}

.menu-btn:hover{
    background: #daeefc;
    border-radius: 0 10px 10px 0;
    transition: .4s;
}


.compose-btn:hover{
    box-shadow: 0px 0px 2px 2px var(--clr3);
    background-color: #8dd1ff;
}

.income-mails{
    margin: 8px;
    font-weight: 600;
    cursor: pointer;
}

.unread-mails{
    margin: 8px;
    cursor: pointer;
}


.active{
    border-radius: 0 10px 10px 0;
    background-color: rgb(179, 217, 252);
    padding-right: 15px;
    font-weight: 600;
    transition: .5s;
}