.btn-humburger{
    font-size: 1.5rem;
    background: fixed;
    width: fit-content;
}

.compose-link{
    font-size: 1.5rem;
    height: 4rem;
    background-color: rgb(125, 190, 255);
    border-radius: 10px;
}