
/* MAIL LIST */

.mail-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    /* margin: 0.5rem; */
    /* padding: 0 15; */
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    transition: .3s;
}

.mail-read{
    background-color: #bababa5b;
}

.mail-line:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #5D5D5D;
}

.start-line{
    width: 70%;
}

.name{
    min-width: 20%;
    margin-right: 10px;
}

.subject{
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sent-at{
    width: 140px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-line-btn{
    cursor: pointer;
    z-index: 2;
    min-width: max-content;
    min-height: max-content;
    background: fixed;
    border: 0;
    border-radius: 50%;
}

.mail-line-btn:hover{
    transition: .4s;
    background-color: rgba(197, 197, 197, 0.687);
}

.mail-details{
    width: 65%;
    border: 1px solid rgba(107, 107, 107, 0.344);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 25%;
}