
/* MAIL LIST */

.mail-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.5rem;
    transition: .3s;
}

.mail-read{
    background-color: #f2f6fc;
    font-weight: 400;
}

.mail-line:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px #5D5D5D;
}

.start-line{
    width: 70%;
}

.name{
    min-width: 20%;
    margin-right: 1px;
}

.subject{
    width: 70%;
    margin-left: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sent-at{
    width: 140px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mail-line-btn{
    cursor: pointer;
    z-index: 2;
    min-width: max-content;
    min-height: max-content;
    background: fixed;
    border: 0;
    border-radius: 50%;
}

.mail-line-btn:hover{
    transition: .4s;
    background-color: rgba(197, 197, 197, 0.687);
}

.mail-details{
    width: 65%;
    border: 1px solid rgba(107, 107, 107, 0.344);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 25%;
}

.scroller {
    scrollbar-width: thin;
    scrollbar-color: #a1adb2 white;
    
    overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
    width: 13px;
}

.scroller::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #a1adb2;
    border-radius: 5px;
    border: 1px solid white;
}