.new-mail-section {
    position: absolute;
    bottom: 0;
    height: 60vw;
    min-height: 50vh;
    width: 60vw;
    right: 50px;
    background: #ffff;
    z-index: 3;
    border-radius: 0.5em 0.5em 0 0;
    box-shadow: 0 0 10px 2px rgba(146, 146, 146, 0.552);
}

.new-mail-head {
    background-color: #ebf1ff;
    padding: 0.5rem;
}

.new-mail-close{
    cursor: pointer;
}

.new-mail-send-to {
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(154, 154, 154, 0.498);
}

.new-mail-subject {
    border: 0;
    padding: 10px ;
    border-bottom: 1px solid rgba(154, 154, 154, 0.498);
}

.new-mail-body {
    border: 0;
    font-size: 1rem;
}

.send-mail-btn {
    position: absolute;
    min-width: fit-content;
    min-height: fit-content;
    padding: 8px;
    width: 90px;
    bottom: 0;
    border: 0;
    margin: 10px;
    background-color: #0b57d0;
    border-radius: 15px;
    color: #fff;
}

.send-mail-btn:hover {
    opacity: 90%;
    box-shadow: 0 0 1px 1px rgba(146, 146, 146, 0.552);

}